* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 40px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration-color: #8080ff;
  text-shadow: 2px 2px 5px #8080ff;
}

input {
  border: none;
}

button {
  padding: 14px 40px;
  border-radius: 8px;
  border-style: double;
  color: #4d4d4d;
  border-color: #8080ff;
  background: none;
}

.box {
  width: 500px;
  height: 520px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e6e6ff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  text-align: center;
}

.box input[type="email"],
.box input[type="password"],
.box input[type="text"],
.box input[type="tel"] {
  background: none;
  display: block;
  margin: 15px auto;
  text-align: center;
  border: 2px solid #8080ff;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: grey;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="number"] {
  background: none;
  display: block;
  margin: 15px auto;
  text-align: center;
  border: 2px solid #8080ff;
  padding: 14px 10px;
  width: 100px;
  outline: none;
  color: grey;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="email"]:focus,
.box input[type="password"]:focus,
.box input[type="text"]:focus {
  width: 300px;
  border-color: #66ccff;
}

.box input[type="number"]:focus {
  width: 200px;
  border-color: #66ccff;
}

.box button[type="submit"] {
  background: none;
  display: block;
  margin: 15px auto;
  text-align: center;
  border: 2px solid #8080ff;
  padding: 14px 40px;
  outline: none;
  color: grey;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box button[type="submit"]:hover {
  background: #ccccff;
}
